<html>
    <body>
        <h1> Cadastro de Produto</h1>
        <form action="/cadastro" method="POST" name="produto">
            <label for="produto">Nome do Produto:</label><br>
            <input type="text" id="produto" name="produto"><br><br>
            <label for="preco">Preço do Produto:</label><br>
            <input type="text" id="preco" name="preco"><br><br>
            <label for="categoria">Categoria do Produto:</label><br>
            <input type="text" id="categoria" name="categoria"><br><br>
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>